@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* || CSS RESET */
*,
* ::after,
* ::before {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

/* || VARIABLES */
:root {
  --BTN-PADDING: 0.5rem;
  --LINK-COLOR: rgb(0, 100, 201);
}

/* || GENERAL STYLES */
body {
  background-color: black;
  display: grid;
  row-gap: 10px;
  /* place-items: center; */
  height: 100vh;
  color: white;
  padding: 1rem;
  font-family: "Open Sans";
}
main,
header,
footer {
  justify-self: stretch;
  align-items: center;
}
header,
footer {
  justify-items: center;
}
header .close-icon {
  justify-self: start;
}
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: start;
}
header .heading {
  grid-area: 2/1/3/3;
  width: 100%;
  max-width: 300px;
  justify-items: center;
  align-self: end;
}
.heading h1 {
  width: 100%;
  font-size: 1.7rem;
  max-width: 300px;
}
main {
  display: grid;
  justify-items: center;
}
.google-btn,
.apple-btn,
.forgot-password,
button,
input,
.form-container,
form,
.signup {
  color: gray;
  width: 100%;
  max-width: 300px;
}
button,
input {
  background-color: white;
}
.form-container form {
  display: grid;
  row-gap: 20px;
  position: relative;
}
:is(.close-icon, button) img {
  height: 22px;
  width: 22px;
}
.logo img {
  height: 28px;
  width: 28px;
}
button {
  padding: var(--BTN-PADDING);
  border-radius: 40px;
  color: black;
  font-size: 0.9rem;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  column-gap: 5px;
  align-items: center;
  border: none;
  border: 1px solid white;
  cursor: pointer;
}
button {
  -webkit-tap-highlight-color: hsla(0, 0%, 50%, 0.3);
}
:is(.apple-btn, .form-container form, .forgot-password) button {
  font-weight: bold;
}
.form-container form label {
  position: absolute;
  left: 10000px;
}
input {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Open Sans";
  background-color: transparent;
  color: white;
  border: none;
  border: 1px solid hsla(0, 0%, 30%, 1);
  outline: transparent;
}
.forgot-password button {
  background-color: transparent;
  color: white;
  border: none;
  border: 1px solid gray;
}
.signup {
  font-size: 0.8rem;
}
.signup a {
  text-decoration: none;
  color: var(--LINK-COLOR);
}
.separator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.block {
  height: 1px;
  background-color: gray;
  width: 130px;
  margin-inline: 10px;
}
